<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="icon" href="" />
        <link rel="stylesheet" href="../../../style/root.css" />
        <link rel="stylesheet" href="../../../style/newTab.css" />
        
        <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    </head>
    <body>
        <div class="ntp-wrapper">
            <img src="../../../images/hydrogen-logo.svg" style="animation: pop 60s linear infinite" width=320>
            <img src="../../../images/textmark.svg" width=320>
            <div class="scrolldown-indicator">
                <iconify-icon icon="ph:mouse-simple" style="color: #18182a;" width="24" height="24"></iconify-icon>
            </div>
        </div>
        <div class="ntp-wrapper">
            <img src="../../../images/hydrogen-logo.svg" width=64>
            <h1>Welcome to Hydrogen.</h1>
            An experimental browser with focus on design.<br>
            An explanation in itself as to why you shouldn't do that.
            <div class="scrolldown-indicator">
                <iconify-icon icon="ph:mouse-simple" style="color: #18182a;" width="24" height="24"></iconify-icon>
            </div>
        </div>
        <div class="ntp-wrapper">
            <h1>Current known flaws</h1>
            <ul>
                <li>
                    The window itself is a little bit bigger than the actual visible part, causing the resizing handles on operating systems to be offset by a few pixels.<br>
                    <sub><i>This is due to a design element which allows the window to be rounded off and have a shadow on every OS. However this is due to change. #notabug #wontfix</i></sub>
                </li>
                <li>
                    Tabs do not work as expected.<br>
                    <sub><i>This is due to the project being in an early development state and not capable of doing anything useful.</i></sub>
                </li>
                <li>
                    <i>X</i> does not work.<br>
                    <sub><i>This is due to the project being in an early development state and not capable of doing anything.</i></sub>
                </li>
                <li>
                    The social network "<i>X</i>" does not work.<br>
                    <sub><i>That's damn right it doesn't.</i></sub>
                </li>
            </ul>
        </div>
    </body>
</html>