<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../../style/root.css" />
        <link rel="stylesheet" href="../../style/mainWindow.css" />

        <script src="../../js/hydrogen.js"></script>
    </head>
    <body onload="loaded()">
        <div class="mainWindow-main">
            <div class="toolbar">

                <div class="app-actions"> 
                    <div class="sidebar-entry" onclick="electron.close()">
                        <div class="entry-icon">
                            <img src="../../images/icons/close.svg">
                        </div>
                        <div class="entry-tooltip">
                            Close
                        </div>
                    </div>

                    <div class="sidebar-entry" onclick="electron.maximize()">
                        <div class="entry-icon">
                            <img src="../../images/icons/maximize.svg">
                        </div>
                        <div class="entry-tooltip">
                            Maximize
                        </div>
                    </div>

                    <div class="sidebar-entry" onclick="electron.minimize()">
                        <div class="entry-icon">
                            <img src="../../images/icons/minimize.svg">
                        </div>
                        <div class="entry-tooltip">
                            Minimize
                        </div>
                    </div>

                    <div class="sidebar-entry" onclick="document.querySelector('webview').back()">
                        <div class="entry-icon">
                            <img src="../../images/icons/back.svg">
                        </div>
                        <div class="entry-tooltip">
                            Back
                        </div>
                    </div>
                </div>

                <div class="tablist">
                    <div class="sidebar-entry">
                        <div class="entry-icon">
                            <img src="../../images/icons/home.svg">
                        </div>
                        <div class="entry-tooltip">
                            Start Page
                        </div>
                    </div>
                    
                    <div class="sidebar-entry" id="addressbar-toggle" onclick="toggleAddressBar()">
                        <div class="entry-icon">
                            <img src="../../images/icons/at.svg">
                        </div>
                        <div class="entry-tooltip">
                            Address Bar
                        </div>
                        <div class="entry-tooltip toggle" id="addressbar">
                            <input type="text" id="addressbar-input" placeholder="Type in URL or search the web...">
                        </div>
                    </div>
                </div>

                <div class="app-actions lower">                 
                    <div class="sidebar-entry">
                        <div class="entry-icon">
                            <img src="../../images/icons/add.svg">
                        </div>
                        <div class="entry-tooltip">
                            New Tab
                        </div>
                    </div>

                    <div class="sidebar-entry">
                        <div class="entry-icon">
                            <img src="../../images/icons/settings.svg">
                        </div>
                        <div class="entry-tooltip">
                            Settings
                        </div>
                    </div>
                </div>

            </div>
            <webview src="newTab.html" id="webview" enableremotemodule=false class="web-view"></webview>
        </div>
    </body>
</html>